.gitignore
.git-release
CMakeFiles/
CMakeLists.txt.user*
*.pro.user*
.vscode/
*~
*.pyc
*.ply
*.swp
*.orig
*cdbs-orig
*/config.guess
*/config.sub
*.autosave
.cache/
*build*/
.DS_Store
.tox
MANIFEST
.pytest_cache
.env
